---

---

<section
  data-testid="about"
  id="about"
  class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
  <div
    class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2"
  >
    <h2 class="font-monospace text-2xl text-purple lg:text-4xl">About me</h2>
    <span class="mb-6 ml-2 h-1 w-10 bg-purple"></span>
  </div>

  <div class="w-full text-justify text-black dark:text-white lg:w-1/2">
    <p class="mb-2">
      Welcome to Denilson Uariua's tiny slice to the internet! With a solid
      foundation in web development and five years of dedicated experience, I
      specialize in crafting stunning websites and robust web applications,
      along with versatile mobile applications using React Native. Based in
      Windhoek, Namibia, I thrive on delivering excellence in every project I
      undertake.
      <br />
      <br />
      My toolkit includes cutting-edge technologies such as React JS, Tailwind CSS,
      Next JS, Node JS, Express JS, Supabase, and Astro. Whether it's building interactive
      and responsive websites or developing seamless mobile experiences, I ensure
      the use of best practices and modern frameworks to achieve exceptional results.
      Client satisfaction is at the core of my work ethic.
      <br />
      <br />
      I prioritize quality, aiming not only to meet but exceed expectations while
      adhering to project timelines. Additionally, my experience extends to designing
      WordPress sites, adding a layer of versatility to my skill set. Collaborate
      with me, and let's turn your digital visions into reality. <a
        aria-label="navigation link"
        href="#contact"
        class="flex-inline text-purple hover:text-purple dark:text-purple dark:hover:text-purple"
        >Get in touch today</a
      >, and let's build something extraordinary together!
      <br />
      <br />
      Yeah one more thing, I love dogs!
    </p>
  </div>
</section>
