---
import Button from "@components/ui/Button.astro";
import Social from "@components/ui/Social.astro";
import { Icon } from "astro-icon/components";
---

<section
  data-testid="contact"
  id="contact"
  class="flex flex-col flex-wrap items-center justify-center gap-8 text-black dark:text-white lg:mb-0 lg:h-screen"
>
  <Button size={"lg"} style={"primary"} name="Contact" class="hover:bg-purple"
    >Say hello!</Button
  >
  <div class="flex flex-col">
    <a href="tel:+264 81 217 2061" class="flex flex-row items-center hover:text-purple duration-300 transition-all hover:scale-105"
      ><Icon name="mdi:phone" class="mr-4 animate-wiggle"/> +264 81 217 2061</a
    >
    <a href="mailto:denuariua@gmail.com" class="flex flex-row items-center hover:text-purple transition-all duration-300 hover:scale-105"
      ><Icon name="mdi:mail" class="mr-4"/> denuariua@gmail.com</a
    >
  </div>
  <hr class="w-1/2" />
  <div class="flex flex-col gap-8 lg:flex lg:flex-row lg:gap-20">
    <Social />
  </div>
</section>
